*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 400;

    background-image: url(../img/background-1.png);
    background-size: cover;
    background-position: top;
    
}

.header {
    // background-image: url(../img/background-1.png);
    // background-size: cover;
    // background-position: top;
    height: 100vh;
    position: relative;
}

.heading-primary--main {
    display: block;
    letter-spacing: 20px;
    animation-name: moveInLeft;
    animation-duration: 1s;
}

.heading-primary--sub {
    display: block;
    animation-name: moveInRight;
    animation-duration: 1s;
}

.header__text-box {
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    color: white;
}

.header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.header__logo {
    height: 5.5rem;
}





.btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    
}

.btn--animated {
    animation-name: moveInBottom;
    animation-duration: .5s;
    animation-delay: .75s;
    animation-fill-mode: backwards;
}

.btn:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.btn:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

.btn--white {
    background-color: white;
    color: #777;
    
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn--white::after {
    background-color: white;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}




@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(10rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.portfolio {
    // height: 100px;
//     // background-color: yellow;
//     margin: auto;
    // width: 50%;

    .websiteCollection {
//         //height: 100%;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
//         width: calc(75vh * 2);
//         margin: auto;
    
    .portfolioItem {
        width: 35%;
//             // padding-top: 37.5%;
        // height: 100px;
        padding: 10px;
        
            
        .imageContainer {
            // height: 100%;
            width: 100%;
            padding-top: 75%;
            background-color: blue;
            box-shadow: 5px 10px 18px #000;
        }
    }
}

//         .portfolioItem:nth-child(odd) {
//             // background-color: blue;
//         }

//         .portfolioItem:nth-child(even) {
//             // background-color: lightblue;
//         }
    
}

    

// }

.about {
    &::after {
        clear: both;
        content: "";
        display: block;
    }


//     height: 100vh;
    // margin-top: 23rem;
    margin-top: 23rem;
    margin-bottom: 23rem;
    #aboutText {
//         // float: right;
//         // width: 25%;
        font-size: 2rem;
//         // margin-top: 12rem;
    }

    .aboutHeaderAndText {
        display: flex;
        align-items: center;
        float: right;
        width: 40%;
//         height: 100%;
        margin-right: 29rem;
    }

    .aboutHeader {
        font-size: 9rem;
        margin-right: 17rem;
    }
}

.knowledge {
    // height: 100px;
//     // background-color: yellow;
//     margin: auto;
    // width: 50%;

    .websiteCollection {
//         //height: 100%;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
//         width: calc(75vh * 2);
//         margin: auto;
    
    .portfolioItem {
        width: 35%;
//             // padding-top: 37.5%;
        // height: 100px;
        padding: 10px;
            
        .imageContainer {
            // height: 100%;
            width: 100%;
            padding-top: 75%;
            background-color: blue;
            
            &:not(.knowledgeText) {
                box-shadow: 5px 10px 18px #000;
            }

            &.knowledgeText {
                background-color: transparent;
                position: relative;
                    .knowledgeHeader {
                        font-size: 10vw;
                        top: 0;
                        position: absolute;
                
                        .sub {
                            transform: translateY(-42px);
                        }
                    }

                    .super, .sub {
                        display: block;
                    }
                }
        }
    }
}

//         .portfolioItem:nth-child(odd) {
//             // background-color: blue;
//         }

//         .portfolioItem:nth-child(even) {
//             // background-color: lightblue;
//         }
    
}





// .knowledge {
//     height: 100vh;
    
//     // .portfolio {
//         height: 100vh;
//         // background-color: yellow;
//         margin: auto;
//         //width: 75%;
    
//         .websiteCollection {
//             //height: 100%;
//             display: flex;
//             flex-wrap: wrap;
//             width: calc(75vh * 2);
//             margin: auto;
        
//             .portfolioItem {
//                 width: 75vh;
//                 // padding-top: 37.5%;
//                 height: 33.33vh;
//                 padding: 10px;
                
//                 .imageContainer {
//                     height: 100%;
//                     width: 100%;
//                     background-color: black;
                
//                     &.knowledgeText {
//                         background-color: transparent;

//                         .knowledgeHeader {
//                             font-size: 15vh;

//                             .sub {
//                                 transform: translateY(-42px);
//                             }
//                         }

//                         .super, .sub {
//                             display: block;
//                         }
//                     }
                
//                 }
    
                
    
//             }
    
//             .portfolioItem:nth-child(odd) {
//                 // background-color: blue;
//             }
    
//             .portfolioItem:nth-child(even) {
//                 // background-color: lightblue;
//             }
        
//         }
    
        
    
//     // }

// }

.contact {
//     height: 100vh;
//     position: relative;
    
    margin-top: 23rem;
    margin-bottom: 23rem;
    .contactForm {
        width: 70%;
        margin: auto;
        padding: 10px;
//         margin-top: 19rem;
//         // top: 50%;
//         // transform: translateY(-50%);

         label {
             display: block;
             font-size: 3rem;
             padding: 1rem;
         }

        input {
            width: 100%;
            height: 4.5rem;
            margin-top: 1rem;
            border: none;
            background-color: black;
            color: white;
            font-size: 3rem;
            padding-left: 1rem;
        }

        textarea {
            width: 100%;
            border: none;
            background: black;
            height: 400px;
            font-size: 3rem;
            color: white;
            padding-left: 1rem;
        }
    
        .submitButton {
            color: white;
            text-decoration: none;
            display: inline-block;
            background-color: black;
            font-size: 4rem;
            padding: 1rem 4rem;
            margin-top: 1rem;

        }
    }
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

.footer {
    height: 150px;
    background-color: black;;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    
    &__logo {
        margin-left: 5rem;
    }
}

.stackIcon {
    width: 5rem;
}